# dependencies
/node_modules
/.pnp
.pnp.*

# next
/.next/
/out/

# production
/build

# local environment files
.env*.local
.env

# tooling
*.tsbuildinfo
coverage/
playwright-report/
test-results/
.DS_Store
